<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://t3.ftcdn.net/jpg/05/00/81/96/360_F_500819621_7bRfuKkKyaRYU6aJ1Sa9RBCPdscka6Iq.jpg);">
  <div class="container">
    <h1>Save your favourite films</h1>
  </div>
</div>

<div class="container py-4">
<h2 class="mb-4">My Lists</h2>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
  <% @lists.each do |list| %>
    <div class="col">
      <div class="card h-100 text-white">
        <% if list.photo.attached? %>
          <%= cl_image_tag list.photo.key,
              class: "card-img",
              style: "height: 200px; object-fit: cover;" %>
        <% else %>
          <div class="card-img" style="background-image: url('https://t4.ftcdn.net/jpg/11/25/25/87/360_F_1125258781_Ag4FppyHfgHb8JygEbLEEKmqFcCEjPwg.jpg'); height: 200px; background-size: cover; background-position: center;"></div>
        <% end %>
        <div class="card-img-overlay d-flex align-items-end p-2" style="background: rgba(0, 0, 0, 0.5);">
          <h5 class="card-title mb-0">
            <%= link_to list.name, list, class: "stretched-link text-white text-decoration-none" %>
          </h5>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>
